/aclocal.m4
/autom4te.cache
/autom4te.cache/
/autoscan.log
/compile
/config.h
/config.h*
/config.h.in~
/config.log
/config.status
/configure
/configure.scan
/depcomp
/.deps/
/experiment*
/genxml
/genxml.plist/
/genxml.t2t
/gopt.c
/gopt.h
/INSTALL
/install-sh
/Makefile
/Makefile.in
/missing
/mkinstalldirs
/nooptim.sh
/optgen
/optgen.plist/
/optgen.t2t
/stamp-h1
/*.tar.gz
/test*
/tnooptim.sh
/Test/
/cpconfig.sh
