/autom4te.cache/
/autoscan.log
/config.h
/config.h.in~
/config.log
/config.status
/configure.scan
/.deps/
/optgen
/optgen.plist/
/optgen.t2t
/genxml
/genxml.plist/
/genxml.t2t
/Makefile
/stamp-h1
/test*
/nooptim.sh
/experiment*
/optgen
/gopt.?
/tnooptim.sh
/*.tar.gz
/autom4te.cache
/autoscan.log
/config.h*
/config.log
/config.status
/configure
/configure.scan
/depcomp
/INSTALL
/Makefile.in
/aclocal.m4
/compile
/install-sh
/missing
/mkinstalldirs
